.row{
  display: flex;
  align-items: center;
}
align-items: center;

/*Main Container*/
.mainContainer {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    font-family: Arial !important;
}

/*Main Navigyation*/
.mainNav {
    list-style: none;
    background: #2294d2;
    height: 100px;
    padding: 0 5px;
    /*float: right;*/
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 27px;
}

.mainNav li {
    display: inline-block;
    /*margin-left: 1%;
    padding-top: 1%;*/
}

.mainNav li a:link,
.mainNav li a:visited {
    padding: 0 0 0 5px;
    color : #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
    font-weight: 500;
    width: 100%;
}

.mainNav li:last-child::before {
  content: '|';
  border: 0;
  padding: 0;
  font-size: 34px;
}

.mainNav li a:hover {
    color: #6f7576;
}


.mainNav li span {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
}

.mainNav li span i {
  font-size: 34px;
}


/*Logo*/
.logo{
    height: auto;
    width: auto;
    float: left;
    /*margin-top: 5%;*/
    text-decoration: none;
    padding-left: 2%;
    /*margin-top: 5px;*/
}


.span1{
  font-family: 'Brandon' ;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.span2 {
  font-family: 'Brandon';
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.span3 {
  font-family: 'Helvetica';
  font-size: 60%;
  color: #D7DEE0;
  font-weight: 600;
}0 0 0 15px


.icon {
  padding-right: 10%;
  display: inline-block;
}


/*-------Clear Floats-------*/
.clearfix { zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Header*/
header {
    background: #2294d2;
}

.banner {
    background: #61b2f7 !important;
    padding: 1% 2%;
}

.disconnect {
  /*margin-right: 5%;
  float: right;*/
}

.disconnect::before {
  /*content: '' !important;*/
}
