.mainContainer{
  display: inline-block;
  float: left;
  /*width: 20%;*/
  /*width: 260px;*/
  height: calc(100vh - 60px);
  padding: 0;
}

.mainContainerCollapsed {
  display: inline-block;
  float: left;
  /*width: 10%;*/
  /*width: 130px;*/
  height: calc(100vh - 60px);
  padding: 0;
}

.sideContainer {
  width: 30%;
  background-color: #212f30;
  font-family: 'Arial' !important;
  height: 100%;
  display: inline-block;
  float: left;
}

.sideContainerCollapsed {
  width: 60%;
  background-color: #212f30;
  font-family: 'Arial' !important;
  height: 100%;
  display: inline-block;
  float: left;
}


.sideNav {
  border-bottom: 1px solid #5d7979;
}

.sideNav li {
  background-color:#212f30
}

.icon {
  color: #85adad;
  display: block;
  text-align: center;
  font-size: 150%;
}

.sideNav li div span{
  font-size: 14px;
  color: #85adad;
  text-align: center;
}

.sideNav li div {
  text-align: center;
}

.sideNav li a {
  text-decoration: none;
}

.sideNav li button {
  background-color: inherit;
  color: inherit;
  width: 100%;
  border: 0;
  height: 100px;
  padding: 0;
  cursor: pointer;
}

.sideNav li {
  padding: 0;
  transition: background-color 0.2s;
  border-bottom: 1px solid #072430;
  border-top: 1px solid #5d7979;
  color: #fff;
}

.sideNav li:first-child {
  border-top: none;
}

.sideNav li i {
  color: inherit;
  font-size: 34px;
}

.sideNav li:hover{
  color: #2494d0 !important;
}

.sideNav li i:hover {
  color: #2494d0 !important;
}

.sideNav li button:hover {
  background-color: #111919;
  color: #2494d0 !important;
}

.active {
  background-color: #111919 !important;
}

.active i {
  color: #2494d0 !important;
}


.otherContainer {
  /*width: 6%;*/
  /*width: 78px;*/
  width: 66px;
  height: calc(100vh - 60px);
  display: inline-block;
  float: left;
}

.otherSideContainer {
  width: 100%;
  background-color: #212f30;
  font-family: 'Arial' !important;
  height: 100%;
  display: inline-block;
  float: left;
}


.listBody {
  
}