.mainContainer{
  display: inline-block;
  float: left;
  width: 20%;
}

.mainContainerCollapsed {
  display: inline-block;
  float: left;
  width: 8%;
}

.sideContainer {
  /*width: 70px;*/
  width: 30%;
  background-color: #212f30;
  font-family: 'Arial' !important;
  height: 100%;
  display: inline-block;
  float: left;
}

.sideContainerCollapsed {
  width: 62%;
  background-color: #212f30;
  font-family: 'Arial' !important;
  height: 100%;
  display: inline-block;
  float: left;
}


.sideNav {
  border-bottom: 1px solid #5d7979;
}

.sideNav li {
  background-color:#212f30
}

.icon {
  color: #85adad;
  display: block;
  text-align: center;
  font-size: 150%;
}

.sideNav li div span{
  font-size: 75%;
  color: #85adad;
  text-align: center;
}

.sideNav li div {
  text-align: center;
}

.sideNav li a {
  text-decoration: none;
}

.sideNav li button {
  background-color: inherit;
  width: 100%;
  border: 0;
  height: 100px;
  padding: 0;
  cursor: pointer;
}

.sideNav li {
  padding: 0;
  transition: background-color 0.2s;
  border-bottom: 1px solid #072430;
	border-top: 1px solid #5d7979;
}

.sideNav li:first-child {
	border-top: none;
}

.sideNav li i {
  color: #fff;
  font-size: 34px;
}

.sideNav li i:hover {
  color: #2294d2 !important
}

.sideNav li button:hover {
  background-color: #111919;
  color: #2294d2 !important;
}

.active {
  background-color: #111919 !important;
}

.active i {
  color: #2294d2 !important;
}
