.mainContainer {
  width: calc(100% - 66px);
  height: calc(100vh - 60px);
  background-color: #fff;
  display: inline-block;
  overflow: auto;
  font-size: 14px;
}

.title {
  padding-bottom: 17px;
  padding-top: 17px;
  font-family: 'Brandon';
  font-size: 17px;
  font-weight: 400;
  background: #ecf4f7;
  text-align: center;
  border-bottom: solid 1px #bababa;
}

.container {
  border: 1px solid #bababa;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

.container ul {
  background-color: inherit !important;
  position: relative !important;
  display: inline-block;
  width: 100%;
}

.container>ul{
  padding-right: 10px !important;
}

.container>ul>li>label {
  font-weight: 600;
  width: 210 !important;
}

.container ul li label {
  color: #26344e !important;
}

.container>ul li>span {
  float: right !important;
  display: inline-block !important;
  width: 270px !important;
  padding: 0 !important;
  text-align: left !important;
  font-weight: 400 !important;
  margin-left: 50;
  color: #555 !important;
  padding: 5px;
}

.container>ul li:after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.container>ul li {
  zoom: 1;
}


.headContainer {
  display: inline-block;
  width: 100%;
  background: #2494d0;
}


.key,
.value {
   font-size: 17px;
   display: inline-block;
   color: #fff;
   font-family: 'Brandon';
}

.key {
  margin-left: 3%;
}

.value{
  margin-left: 60%;
}


.errorHolder {
  text-align: center;
    font-size: 17px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    color: red;
}


.loading {
  text-align: center;
}

.loading label {
  display: block;
  font-size: 17px;
  font-family: 'Brandon-Light';
}