.menu>div {
}

.mainMenu {
  display: inline-block;
  width: 70%;
  height: 100%
}

.mainMenuCollapsed {
  display: inline-block;
  width: 39%;
  height: 100%;
}

.menu {
  display: inline-block;
  width: 100%;
  float: left;
  height: 100%;
}

.visible {
    /*overflow: auto;*/
    overflow: hidden;
    display: inline-block;
    float: left;
    z-index: 2;
    top: 0;
    height: 100%;
    transition: transform ease 0.5s;
    color: #484848;
    background: #fff;
    transition: width ease 0.5s;
    transition: visibility 0s;
    width: 100%;
    /*position: relative;*/
    border-right: 1px solid #bababa;
}

.displayNone {
  display: none;
}

.visible div:last-child {
}

.dbListHeader {
 /*position: absolute;*/
 width: 100%;
}

.dbListBody{
  width: 100%;
  height: calc(100vh - 144px);
  overflow: auto;
}

.dbListBodyExpanded {
  width: 100%;
  height: calc(100vh - 192px);
  overflow: hidden;
}

.viewMoreContainer {
  text-align: center;
  border-top: solid 1px #ccc;
}

.viewMore {
  padding: 15px 0px;
  cursor: pointer;
  display: inline-block;
}

.left {
    background:#0e1d5d;
    transform:translate3d(-500px,0,0);
    position: relative;;
}

.menuItem {
  width:auto;
  /*min-width: 160px;*/
  min-width: 102px;
  margin:0;
  /*padding:10px 15px;*/
  /*padding: 3% 4%;*/
  padding: 5px 15px;
  border-bottom:solid 1px #bababa;
  cursor:pointer;
  font-size: 17px;
  color:#484848;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/

}
.menuItem span {
  font-weight: 400;
}

.menuItem i {
  color:#484848;
}

.menuItem :hover {
    color:#F0F0F0;
}


.menuItem button {
    background-color: inherit;
    color: inherit;
    border: 0;
    font-family: 'Brandon-Light';
    cursor: pointer;
    width: 60%;
    text-align: left;
    font-size: 13px;
    word-wrap: break-word;
    font-size: 400;

}

.content{
  /*width: 250px;*/
  /*width: 50%;*/
  width: 70%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem:hover,
.menuItem button:hover {
    background-color:#2494d0;
    color: #fff;
}

.highlight {
    background-color: #2494d0;
    color: #fff;
}

.menuItem i {
    /*padding: 10px;*/
    color: inherit;
}

.menuTitle {
    text-align: center;
    /*padding: 8px;*/
    padding: 10px;
    background-color: #fff;
    color: #484848;
    font-family: 'Brandon-Light';
    font-size: 17px;
    cursor: pointer;
    width: auto;
    /*min-width: 178px;*/
    border-bottom: 1px solid #bdc1c3;
    margin: 0;
}


.removeIcon {
  color: inherit;
  font-size: 13px;
  /*padding-top: 15px;*/
  padding-top: 17px;
  padding-bottom: 15px;
  display: inline-block;
  float: right;
}

.collapsed {
  width: 2% !important;
  margin-left: 70px;
  visibility: hidden !important;
  opacity: 0 !important;
  position: relative;
  display: none;
}

.collapsedDiv{
  visibility: hidden !important;
  opacity: 0 !important;
  display: none;
}

.openDiv {
display: inline-block !important;
visibility: visible !important;
width: 100% !important;
opacity: 1 !important;
cursor: pointer;
background: #f4f9fc;
height: 100%;
color: #484848;
font-weight: 400;
border-right: 1px solid #bababa;
}


.collapsedData {
  /*transform: rotate(-90deg);
  display: inline-block;
  margin-top: 500%;
  width: 500%;
  font-size: 19px;
  font-family: 'Brandon';
  margin-left: -200%;
  overflow: hidden;
  text-overflow: ellipsis;*/

  /*
  transform: rotate(180deg);
  display: inline-block;
  height: 40%;
  font-size: 19px;
  font-family: 'Brandon';
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  writing-mode: vertical-lr;
  margin: 260% 19%;*/

  transform: rotate(180deg);
  display: inline-block;
  height: calc(100vh - 100px);
  font-size: 19px;
  font-family: 'Brandon';
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  writing-mode: vertical-lr;
  padding: 18%;
}


.arrow {
  /*margin-left: 35%;
  margin-top: 50%;
  display: inline-block;
  font-size: 17px;*/

  display: inline-block;
  font-size: 17px;
  width: 100%;
  text-align: center;
  float: left;
  padding-top: 10px;
}



/*Styles for modal*/

.two h3{
    text-align: center;
    margin-bottom: -10%;
    padding: 5px;
}

.inputBox div input[type=text] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #4968a7;
    background-color: inherit;
    font-size: 15px;
    color: black !important;
    height: 30px;
    width: 100%;
}

.inputBox label {
    font-size: 60%;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}

.inputLabel {
    margin-left: 25% !important;
}

.formContainer {
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
  word-wrap: break-word;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
  word-wrap: break-word;
}


.successMessage {
  color: green;
  text-align: center;
  border: 1px solid green;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
  word-wrap: break-word;
}


/*Buttons*/
.submit,
.cancel
 {
    border: none !important;
    background-color: inherit;
    font-size: 13px;
    font-weight: 600;
}

.cancel {
  color: #484848;
  font-family: 'Brandon-Light';
}

.submit {

  margin-left: 8px;
  font-family: 'Brandon-Light';
}

.submit:enabled {
  color: #2494d0;
}

.submit:disabled {
  color: #9fc7dc;
}
.submit:hover:enabled,
.submit:active:enabled {
    color: #3c5563;
    cursor: pointer;
}

.cancel:hover,
.cancel:active {
    color: #191717;
    cursor: pointer;
}

.searchInput input {
    outline: none;
    padding: 10px 5px 10px 25px;
    border: 3px solid #ccc;
    width: 100%;
    /*min-width: 160px;*/
}

.searchInput::before {
  content: "\26b2";
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  transform: rotate(-45deg);
  font-size: 20px;
  top: 8px;
  left: 5px;
  line-height: 32px;
}

.searchInput {
  position: relative;
}

.closeSpan {
  float: right;
  margin-top: 5%;
  margin-right: 3%;
  cursor: pointer;
}

.header{
  background-color: #2294d2;
  font-size: 14px;
  height: 50px;
  color: white;
  margin-bottom: 5%;
}

.text{
  top: 30%;
  position: relative;
  left: 5%;
  font-family: 'Brandon-Light';
  font-size: 17px;
}

.buttons {

}

.right {
  float: right;
  margin: 15px 0;
}

.clear {
  clear: both;
}

.innerItem {

}



.dbIcon {
  float: left;
  padding-top: 15px;
}