.menu>div {
}

.mainMenu {
  display: inline-block;
  width: 70%;
}

.mainMenuCollapsed {
  display: inline-block;
  width: 38%;
}

.menu {
  display: inline-block;
  width: 100%;
  float: left;
}

.visible {
    overflow: auto;
    display: inline-block;
    float: left;
    z-index: 2;
    top: 0;
    height: 100%;
    transition: transform ease 0.5s;
    color: #484848;
    background: #fff;
    transition: width ease 0.5s;
    transition: visibility 0s;
    width: 100%;
    position: relative;
    border-right: 1px solid #bababa;
}

.visible div:last-child {
}

.dbListHeader {
 position: absolute;
 width: 100%;
}

.dbListBody{
  width: 100%;
    position: absolute;
    top: 82px;
    bottom: 0;
    overflow-y: auto;
}

.left {
    background:#0e1d5d;
    transform:translate3d(-500px,0,0);
    position: relative;;
}

.menuItem {
  width:auto;
  min-width: 160px;
  margin:0;
  padding:10px 15px;
  border-bottom:solid 1px #bababa;
  cursor:pointer;
  font-size: 17px;
  color:#484848;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItem span {
  font-weight: 400;
}

.menuItem i {
  color:#484848;
}

.menuItem :hover {
    color:#F0F0F0;
}


.menuItem button {
    background-color: inherit;
    color: inherit;
    border: 0;
    font-family: 'Brandon';
    cursor: pointer;
    width: 60%;
    text-align: left;
    font-size: 13px;
    word-wrap: break-word;
    font-size: 400;

}

.content{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem:hover,
.menuItem button:hover {
    background-color:#2494d0;
    color: #fff;
}

.highlight {
    background-color: #2494d0;
    color: #fff;
}

.menuItem i {
    padding: 10px;
    color: inherit;
}

.menuTitle {
    text-align: center;
    padding: 8px;
    background-color: #fff;
    color: #484848;
    font-family: 'Brandon';
    font-size: 17px;
    cursor: pointer;
    width: auto;
    min-width: 178px;
    border-bottom: 1px solid #bdc1c3;;
}


.removeIcon {
  color: #85adad;
  text-align: center;
  font-size: 13px;
  float: right;
}

.collapsed {
  width: 2% !important;
  margin-left: 70px;
  visibility: hidden !important;
  opacity: 0 !important;
  position: relative;
}

.collapsedDiv{
  visibility: hidden !important;
  opacity: 0 !important;
  display: none;
}

.openDiv {
display: inline-block !important;
visibility: visible !important;
width: 100% !important;
opacity: 1 !important;
cursor: pointer;
background: #f4f9fc;
height: 100%;
color: #484848;
font-weight: 400;
border-right: 1px solid #bababa;
}


.collapsedData {
  -webkit-transform: rotate(-90deg);
  display: inline-block;
  margin-top: 500%;
  width: 500%;
  font-size: 70%;
  margin-left: -200%;
}


.arrow {
  margin-left: 35%;
  margin-top: 50%;
  display: inline-block;
  font-size: 70%;
}



/*Styles for modal*/

.two h3{
    text-align: center;
    margin-bottom: -10%;
    padding: 5px;
}

.inputBox div input[type=text] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #4968a7;
    background-color: inherit;
    font-size: 11px;
    color: black !important;
    height: 30px;
    width: 100%;
}

.inputBox label {
    font-size: 60%;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}

.inputLabel {
    margin-left: 25% !important;
}

.formContainer {
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}


.successMessage {
  color: green;
  text-align: center;
  border: 1px solid green;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}


/*Buttons*/
.submit,
.cancel
 {
    border: none !important;
    background-color: inherit;
    font-size: 13px;
    font-weight: 600;
}

.cancel {
  color: #484848;
  font-family: 'Brandon';
}

.submit {
  
  margin-left: 8px;
  font-family: 'Brandon';
}

.submit:enabled {
  color: #2494d0;
}

.submit:disabled {
  color: #9fc7dc;
}
.submit:hover:enabled,
.submit:active:enabled {
    color: #3c5563;
    cursor: pointer;
}

.cancel:hover,
.cancel:active {
    color: #191717;
    cursor: pointer;
}

.searchInput input {
    outline: none;
    padding: 10px 5px 10px 25px;
    border: 3px solid #ccc;
    width: 100%;
    min-width: 160px;
}

.searchInput::before {
  content: "\26b2";
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  transform: rotate(-45deg);
  font-size: 20px;
  top: 12%;
  left: 3%;
  line-height: 32px;
}

.searchInput {
  position: relative;
}

.closeSpan {
  float: right;
  margin-top: 5%;
  margin-right: 3%;
  cursor: pointer;
}

.header{
  background-color: #2294d2;
  font-size: 14px;
  height: 50px;
  color: white;
  margin-bottom: 5%;
}

.text{
  top: 30%;
  position: relative;
  left: 5%;
  font-family: 'Brandon';
  font-size: 17px;
}

.buttons {
    
}

.right {
  float: right;
  margin: 15px 0;
}

.clear {
  clear: both;
}

.innerItem {

}
