.menu>div {
    /*display:block;
    z-index:2;
    top:0;
    width:15%;
    position: absolute;
    height:100%;
    transition: transform ease 0.5s;
    color: #ccc;
    background:#0e1d5d;
    margin-top: 55px;
    transition: width ease 0.5s;
    transition: visibility 0s;*/
}

.mainMenu {
  /*float: right;*/
  display: inline-block;
  width: 75%;
}

.mainMenuCollapsed {
  display: inline-block;
  width: 32%;
}

.menu {
  display: inline-block;
  width: 100%;
  float: left;
}

.visible {
    overflow: auto;
    display: inline-block;
    float: left;
    z-index: 2;
    top: 0;
    height: 100%;
    transition: transform ease 0.5s;
    color: #ccc;
    background: #0e1d5d;
    transition: width ease 0.5s;
    transition: visibility 0s;
    width: 100%;
    position: relative;
}

.visible div:last-child {
  margin-bottom: 25%;
}

.dbListHeader {
 position: absolute;
 width: 100%;
}

.dbListBody{
  width: 100%;
    position: absolute;
    top: 77px;
    /*background: #ddd;*/
    bottom: 0;
    overflow-y: auto;
}

.left {
    background:#0e1d5d;
    transform:translate3d(-500px,0,0);
    position: relative;;
}

.menuItem {
    width:auto;
    min-width: 178px;
    margin:0;
    padding:10px 15px;
    border-bottom:solid 1px #555;
    cursor:pointer;
    font-size: 12px;
    color:#B0B0B0;
    /*width: 250px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem :hover {
    color:#F0F0F0;
}


.menuItem button {
    background-color: inherit;
    color: #fff;
    border: 0;
    font-family: 'Lato';
    /*padding: 10px;*/
    cursor: pointer;
    width: 60%;
    text-align: left;
    font-size: 70%;
    word-wrap: break-word;

}

.content{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem:hover,
.menuItem button:hover {
    background-color:#070F30;
}

.highlight {
    background-color: #070F30;
}

.menuItem i {
    padding: 10px;
}

.menuTitle {
    text-align: center;
    padding: 12px;
    background-color: #fff;
    color: #0CB9F2;
    font-family: 'Lato';
    font-size: 12px;
    cursor: pointer;
    height: 41px;
    width: auto;
    min-width: 178px;
}


.removeIcon {
  color: #85adad;
  /*display: block;*/
  text-align: center;
  font-size: 12px;
  /*margin-top: -20%;
  margin-left: 90%;*/
  float: right;
}

.collapsed {
  width: 2% !important;
  margin-left: 70px;
  visibility: hidden !important;
  opacity: 0 !important;
  position: relative;
}

.collapsedDiv{
  visibility: hidden !important;
  opacity: 0 !important;
}

.openDiv {
display: inline-block !important;
visibility: visible !important;
width: 36px !important;
/*margin-left: 70px !important;*/
opacity: 1 !important;
cursor: pointer;
background: #0e1d5d;
height: 100%;
color: #ccc;
}


.collapsedData {
  -webkit-transform: rotate(-90deg);
  display: inline-block;
  margin-top: 500%;
  width: 500%;
  font-size: 70%;
  margin-left: -200%;
}


.arrow {
  margin-left: 35%;
  margin-top: 50%;
  display: inline-block;
  font-size: 70%;
}



/*Styles for modal*/

.two h3{
    text-align: center;
    margin-bottom: -10%;
    padding: 5px;
}

.inputBox div input[type=text] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #4968a7;
    background-color: inherit;
    font-size: 11px;
    color: black !important;
    height: 30px;
    width: 100%;
}

.inputBox label {
    font-size: 60%;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}

.inputLabel {
    margin-left: 25% !important;
}

.formContainer {
    margin-left: 19%;
    margin-top: 15%;
    margin-right: auto;
    width: 62%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
    color: red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
    width: 100%;
    font-size: 50%;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
    color: #FF9696;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #FF9696;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
}


.successMessage {
    color: green;
    margin: 5px 0;
    text-align: center;
    line-height: 3;
    border: 1px solid green;
    width: 100%;
    border-radius: 3px;
    font-size: 50%
}


/*Buttons*/
.submit
 {
    /*padding: 10px 30px;*/
    border: 1px solid #3679f8;
    width: 157px;
    background-color: #26344e;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    /*margin-top:15px;*/
}
.submit:hover,
.submit:active {
    background-color: #576d96;
    border: 1px solid #576d96;
    cursor: pointer;
}

.searchInput input {
    outline: none;
    padding: 5px 5px 5px 20px;
    border: 6px solid #ccc;
    width: auto;
    min-width: 233px;
}

.searchInput::before {
  content: "\26b2";
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  transform: rotate(-45deg);
  font-size: 20px;
  top: 12%;
  left: 3%;
  line-height: 32px;
}

.searchInput {
  position: relative;
}
.closeSpan {
  float: right;
  margin-top: -5.5%;
  margin-right: -2.5%;
  cursor: pointer;
}


.innerItem {

}
