.modalContainer span {
  cursor: pointer;
}

.two h3{
    font: 110%;
    text-align: center;
    margin-bottom: -10%;
}

.name input[type=text],
.userPassword input[type=password]{
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #cccccc;
    background-color: inherit;
    font-size: 15px;
    color: #808285 !important;
    height: 35px;
    width: 100%;
    font-family: 'Brandon-Light';
}

.inputBox label {
    font-size: 15px;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.formContainer {
    margin-left: 5%;
    width: 90%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  word-wrap: break-word;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  word-wrap: break-word;
  height: auto;
  min-height: 40px;
  padding: 10px;
}


.successMessage {
  color: green;
  text-align: center;
  border: 1px solid green;
  width: 90%;
  word-wrap: break-word;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}



/*Buttons*/
.submit,
.cancel
 {
    border: none !important;
    background-color: inherit;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
}

.cancel {
  color: #484848;
}

.cancel:hover,
.cancel:active {
    color: #191717;
    cursor: pointer;
}


.submit {
    color: #2494d0;
    font-family: 'Brandon-Light';
    padding-left: 20px;
}
.submit:hover,
.submit:active {
    color: #3c5563;
    cursor: pointer;
}

.header{
  background-color: #2294d2;
  font-size: 14px;
  height: 50px;
  color: white;
  margin-bottom: 5%;
}

.text{
  top: 30%;
  position: relative;
  left: 5%;
  font-size: 17px;
}

.buttonContainer{
  padding-top: 15px;
  padding-bottom: 10px;
  float: right;
}

.label1 {
  font-size: 15px;
  font-weight: 600;
}

.checkLabel{
    font-size: 15px;
    color: #a5a5a5;
    margin-top: -4%;
    margin-left: 4%;
    font-weight: 500;
    margin-bottom: 5%;
    position: absolute;
}

.checkboxClass {
  cursor:pointer;
}

.name,
.userPassword{
  margin-bottom: 5%;
}

.roleInputBox {
  margin-bottom: 7px;
  float: left;
  width: 31%;
  cursor: pointer;
}

.modifyUser {
    display: inline;
    margin-top: -0.5%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.modifyUser i {
  padding-right: 5px;
}

.modifyUser span {
  display: inline;
}

.clear{
  clear: both;
}


/*-------Clear Floats-------*/
.clearfix { zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.dataSource select{
    padding-left: 5px;
    border-radius: 1px;
    border: 1px solid #cccccc;
    background-color: inherit;
    font-size: 15px;
    color: #808285 !important;
    height: 35px;
    width: 100%;
    font-family: 'Brandon-Light';
    margin-bottom: 8%;
}