.mainContainer {
  /*overflow: hidden;*/
  overflow: auto;
  /*width: 85%;*/
  /*width: calc(100vw - 334px);*/
  padding: 20px;
  display: inline-block;
  padding-left: 5%;
  padding-right: 3%;

  float: right;
  height: calc(100vh - 130px);

}

.userContainer {
  border: 0;
  border-radius: 0;
  background: #fff;
}

.actionsContainer {
  padding-bottom: 20px;
}

.detailsBody table {
  border-collapse: collapse;
  border: 1.5px solid #bababa;
  text-align: center;
  line-height: 25px;
  max-width: 425px;
  background-color: #eff4f8;
  margin-bottom: 0;
}

.detailsBody table th{
  text-align: center;
}
.detailsBody table td, .detailsBody table th {
  border: 1.5px solid #bababa;
}
.detailsBody table tr:first-child th {
  border-top: 0;
  /*width: 225px;*/
}
.detailsBody table tr:last-child td {
  border-bottom: 0;
}
.detailsBody table tr td:first-child,
.detailsBody table tr th:first-child {
  border-left: 0;
}
.detailsBody table tr td:last-child,
.detailsBody table tr th:last-child {
  border-right: 0;
}

.detailsBody table tr td {
    /*padding: 5px 50px;*/
    text-transform: capitalize;
}

.detailsBody {
  padding-top: 20px;
}
.detailsLabel{
  color: #484848;
  font-size: 15px;
  margin-bottom: 2%;
  font-weight: 600;
  text-transform: capitalize;
}

.deleteButtonGridfs {
    float: right;
    display: inline;
    margin-top: -0.5%;
    /*margin-right: 4%;*/
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 10px;
}

.deleteButtonGridfs i {
  padding-right: 5px;
}

.deleteButtonGridfs span {
  display: inline;
}


.navBar {
  list-style-type: none;
  padding-top: 10px;
  margin: 0;
  padding-left: 10px;
}