.mainContainer{
  padding-top: 6%;
  margin-left: 19%;
}

.buffer {
   font-size: 70%;
}

.tab{
   font-size: 150%;
   padding: 1%;
   font-weight: 600;
}

.textAreaContainer {
  display: inline-block;
  width: 96%;
  height: 100%;
}

.queryBoxDiv{
  display: inline-block;
  width: 50%;
  height: 220px;
  padding: 1%;
}

.queryBoxlabels {
  padding-bottom: 1%;
}

.queryBox {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border: 1.5px solid #4968a7;
  transition: all ease-in-out .2s;
  font-family: 'Lato';
  font-weight: 300;
}

.parametersDiv,
.parametersDiv1{
  display: inline-block;
  position: absolute;
  padding-left: 1%;
}

.parametersDiv {
  margin-left: 20.1%;
  margin-top: 0.3%;
}
.parametersDiv1 {
  margin-left: 0%;
  margin-top: 2.1%
}

.queryAttributesDiv {
  display: inline-block;
    position: absolute;
    /*margin-top: 2.7%;*/
    margin-top: 3%;
    padding-left: 1%;
    width: 19%;
    margin-left: 0;
    border: 1.5px solid #4968a7;
    /*height: 29.5%;*/
    height: 199px;
    overflow-y: auto;
}

.parametersDiv label,
 parametersDiv1 label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 3%;
}

.parametersDiv input,
.parametersDiv1 input {
  color: inherit !important;
  transition: all ease-in-out .2s;
  margin-top: 1%;
}

.parametersDiv input:focus,
.parametersDiv select:focus,
.parametersDiv1 input:focus,
.parametersDiv1 select:focus,
.queryBox:focus {
  box-shadow: 0 0 5px #4978a7;
  border: 1px solid #4978a7;
}

.attributeList{
    list-style-type: none;
    margin-top: 4%;
}

.attributesLabel {
    position: absolute;
    margin-left: 0;
    margin-top: 1%;
    display: inline-block !important;
    width: 20%;
}

.attributesSpan {
  margin-left: 5%;
}

.bttnNavigable {
    padding: 10px 30px;
    border: 1px solid #3679f8;
    width: 100%;
    background-color: #26344e;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s, border .2s;
    margin-top: 2.5%;
}
.bttnNavigable:hover {
  background-color: #576d96;
  border: 1px solid #576d96;
  cursor: pointer;
}

.parametersDiv select,
.parametersDiv1 select {
  padding: 6px;
  width: 100%;
  border-radius: 2px;
  height: 30px;
  border: 1.5px solid #4968a7;
  background-color: inherit;
  color: inherit;
  font-size: 11px;
}

.checkboxSpan {
  margin-right: 2%;
}

.attributesItems {
  margin-bottom: 2%;
  word-break: break-all;
}

.resultContainer {
  overflow-y: auto;
  padding-bottom: 10%;
}


.results
{
  width: 93%;
  margin-left: 1%;
  height: 30%;
  margin-top: 1%;
  display: block;
  overflow: auto;
  margin-bottom: 1%;
  resize: none;
  font-family: 'Lato';
  font-weight: 300;
  background: #ccc;
}

.treeTab {
  margin-top: 3% !important;
  padding-left: 1% !important;
  font-size: 70% !important;
}

.disabled {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: #a08eb0;
}

.paginator {
  font-size: 70%;
  margin-right: 5%;
  float: right;
  margin-top: -4%;
}

.paginator label {
  padding: 0 3px;
}

.paginator a {
  text-decoration: none;
  padding: 0 3px;
}

.paginator a:hover {
  text-decoration: underline;
}


.deleteButton,
.deleteButtonGridfs {
float: right;
display: inline;
margin-top: 1.5%;

font-size: 70%;
cursor: pointer;
}

.deleteButton {
  margin-right: 2%;
}

.deleteButton i,
.deleteButtonGridfs i{
  padding-right: 5px;
}

.deleteButton span,
.deleteButtonGridfs span{
  display: inline;
}


.treeTab {
  width: 93%;
  border-top: 1px solid #7a8285;
  border-bottom: 1px solid #7a8285;
  margin-left: 1%;
}

.treeTab li {
  display: inline;
}

.treeTab li span {
  display: inline-block;
  width: 10%;
  font-size: 90%;
  text-align: center;
  font-family: 'Lato';
  cursor: pointer;
}

.activeTab {
   background: #7a8285;
   color: #fff;
   padding: 1%;
}

.exceptionContainer {
  font-size: 15px;
  font-family: 'Lato';
  display: block;
  margin-left: 2%;
  margin-top: 1%;
}

.deleteButtonGridfs {
  margin-right: 5.3%;
}