.mainContainer{
  /*padding-top: 6%;*/
  /*margin-left: 2%;*/
  display: inline-block;
  width: 85%;

}

.actionsContainer {
  /*display: inline-block;*/
  float: right;
  /*width: 53%;*/
}

.buffer {
   font-size: 70%;
}

.tab{
   font-size: 18px;
   /*padding: 1%;*/
   font-weight: 600;
   /*float: left;*/
   /*width: 20%;*/
   height: 58px;
}

.tab label {
  padding: 10px;
}

.textAreaContainer {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.queryBoxDiv{
  display: inline-block;
  width: 48%;
  /*height: 220px;*/
  /*height: auto;*/
  padding: 10px;
  position: relative;
}

.queryBoxlabels {
  padding-bottom: 1%;
}

.queryBox {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border: 1.5px solid #bababa;
  transition: all ease-in-out .2s;
  font-family: 'Lato';
  font-weight: 300;
  background: #eff4f8
}

.parametersDiv,
.parametersDiv1{
  display: inline-block;
  /*position: absolute;*/
  /*padding-left: 1%;
  margin-left: 2%;*/
}

.parametersDiv label:first-child {
  padding-bottom: 2% !important;
}

.parametersDiv {
  /*margin-left: 20.1%;*/
  /*margin-top: 0.4%;*/
}
.parametersDiv1 {
  /*margin-left: 0%;
  margin-top: 0.3%*/
}

.queryAttributesDiv {
  display: inline-block;
    /*position: absolute;*/
    /*margin-top: 2.7%;*/
    margin-top: 3%;
    padding-left: 1%;
    width: 100%;
    margin-left: 0;
    border: 1.5px solid #bababa;
    /*height: 29.5%;*/
    height: 200px;
    overflow-y: auto;
    /*float: right;*/
}

.parametersDiv input[type=text],
.parametersDiv1 input[type=text]{
    padding: 10px;
    /*border-radius: 3px;*/

    border: 1.5px solid #bababa;
    background-color: inherit;
    color: white;
    font-size: 11px;
    height: 30px;
    background: #eff4f8;
}

.parametersDiv label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 3%;
}

.parametersDiv1 label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 2.6%;
}

.parametersDiv1 .selectOptions label{
  width: 100%;
}

.parametersDiv input,
.parametersDiv1 input {
  color: inherit !important;
  transition: all ease-in-out .2s;
  margin-top: 1%;
}

.parametersDiv input:focus,
.parametersDiv select:focus,
.parametersDiv1 input:focus,
.parametersDiv1 select:focus,
.queryBox:focus {
  box-shadow: 0 0 5px #bababa;
  border: 1px solid #bababa;
}

.attributeList{
    list-style-type: none;
    margin-top: 4%;
}

.attributesLabel {
    /*position: absolute;*/
    margin-left: 0;
    margin-top: 1%;
    display: inline-block !important;
    width: 100%;
}

.attributesSpan {
  margin-left: 5%;
}

.bttnNavigable {
    padding: 10px 30px;
    /*border: 1px solid #3679f8;*/
    border: 0;
    width: 150px;
    background-color: #2294d2;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    /*border-radius: 3px;*/
    cursor: pointer;
    transition: background-color .2s, border .2s;
    margin-top: -7.5%;
}
.bttnNavigable:hover {
  background-color: #576d96;
  /*border: 1px solid #576d96;*/
  cursor: pointer;
}

.parametersDiv select,
.parametersDiv1 select {
  padding: 6px;
  width: 150px;
  border-radius: 2px;
  height: 30px;
  border: 1.5px solid #bababa;
  background-color: inherit;
  color: inherit;
  font-size: 11px;
}

.checkboxSpan {
  margin-right: 2%;
}

.attributesItems {
  margin-bottom: 2%;
  word-break: break-all;
}

.resultContainer {
  overflow-y: auto;
  padding-bottom: 10%;
}


.results
{
  width: 93%;
  margin-left: 1%;
  height: 30%;
  margin-top: 1%;
  display: block;
  overflow: auto;
  margin-bottom: 1%;
  resize: none;
  font-family: 'Lato';
  font-weight: 300;
  background: #ccc;
}

.treeTab {
  margin-top: 3% !important;
  /*padding-left: 1% !important;*/
  font-size: 70% !important;
}

.disabled {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: #a08eb0;
}

.paginator {
  font-size: 70%;
  margin-right: 5%;
  float: right;
  margin-top: -4%;
}

.paginator label {
  padding: 0 3px;
}

.paginator a {
  text-decoration: none;
  padding: 0 3px;
}

.paginator a:hover {
  text-decoration: underline;
}


.deleteButton {
/*float: right;*/
display: inline-block;
margin-top: 1.5%;
margin-right: 2%;
font-size: 14px;
cursor: pointer;
}

.deleteButton i {
  padding-right: 5px;
}

.deleteButton span {
  display: inline;
}


.deleteButtonGridfs {
float: right;
display: inline;
margin-top: 1.5%;
margin-right: 4%;
font-size: 70%;
cursor: pointer;
}

.deleteButtonGridfs i {
  padding-right: 5px;
}

.deleteButtonGridfs span {
  display: inline;
}

.treeTab {
  width: 93%;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  margin-left: 1%;
}

.treeTab li {
  display: inline;
}

.treeTab li span {
  display: inline-block;
  width: 10%;
  font-size: 90%;
  text-align: center;
  font-family: 'Lato';
  cursor: pointer;
}

.activeTab {
   background: #2294d2;
   color: #fff;
   padding: 1%;
}

.exceptionContainer {
  font-size: 15px;
  font-family: 'Lato';
  display: block;
  margin-left: 2%;
  margin-top: 1%;
}


.attrDiv {
  position: relative;
  display: inline-block;
  /*height: auto;*/
  width: 25%;
  /*margin-left: 2%;*/
  padding: 10px;
}

.attrDivCollapsed {
  display: none;
}
