.tabTitle {
  padding: 10px;
  font-family: 'Brandon';
  font-size: 25;
}

.treeTab {
  margin-top: 10px !important;

}

.tabPanel {
  width: 100vw;
  height: 80vh;
}

.treeTab li>span {
  font-family: 'Brandon';
  font-size: 15;
}
