.headContainer {
  display: inline-block;
  width: 100%;
  background: #2494d0;
}

.innerContainer {

}

.key,
.value {
   font-size: 120%;
   font-weight: 600;
   display: inline-block;
   color: #fff;
}

.key {
  margin-left: 3%;
}

.value{
  margin-left: 58%;
}

.container {
   background-color: inherit;
   font-size: 14px;
   width: 99%;
   position: relative !important;
   border: 1px solid #bababa;
   margin-top: 1%;
}

.container ul {
  background-color: inherit !important;
  position: relative !important;
  display: inline-block;
  width: 95%;
}

.container div>ul>li>label {
  font-weight: 600;
  width: 210 !important;
}

.container ul li label {
  color: #26344e !important;
}

.contianer div {
  color: #555 !important;
}

.container div>ul li>span {
  float: right !important;
  display: inline-block !important;
  width: 270px !important;
  padding: 0 !important;
  text-align: left !important;
  font-weight: 400 !important;
  margin-left: 50;
  color: #555 !important;
}

.deleteButton,
.downloadButton {
  float: right;
  display: inline-block;
  margin-top: 1%;
  text-align: left;
  margin-right: 1%
}

.deleteButton i,
.downloadButton i{
  cursor: pointer;
}
.exceptionContainer {
  display: block;
  font-family: 'Brandon-Light';
  font-size: 15px;
  padding: 10px;
}

/*-------Clear Floats-------*/
.clearfix { zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
