.formGroup.error input[type='text'],
.formGroup.error input[type='email'],
.formGroup.error input[type='number'],
.formGroup.error input[type='password'],
.formGroup.error select {
    border-color: red !important;
    border: 1.5px solid !important;
    color: #FF9696;
}



.formGroup{
    position: relative;
}


.disabled::-webkit-input-placeholder {
  color: #d1d3d4 !important;
}


.validationError {
    color: red;
    margin: 5px 0;
    display: inline-block;
    font-size: 13px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #d1d3d4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #d1d3d4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #d1d3d4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #d1d3d4;
}


