.mainContainer{
  display: inline-block;
}

.editMainContainer {

}
.two h3{
    font: 110%;
    text-align: center;
    margin-bottom: -10%;
}

.two label {
  margin-top: 5%;
  margin-left: 4.7%;
  font-size: 15px;
  color: #808285;
}

.two textarea {
    height: 100px;
    resize: none;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    color: #808285;
    font-family: 'Brandon-Light';
    font-weight: 300;
    border-color: #cccccc;
    padding: 7px;
    font-size: 15px;
}

.two textarea:focus {
  box-shadow: 0 0 5px #9e9e9e;
  border: 1px solid #9e9e9e;
}

.error {
  box-shadow: 0 0 2px red !important;
  border: 1px solid red !important;
}

.errorMessage {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  height: auto;
  min-height: 40px;
  padding: 10px;
  margin: 5px auto;
  font-size: 13px;
  word-wrap: break-word;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  height: auto;
  min-height: 40px;
  padding: 10px;
  margin: 5px auto;
  font-size: 13px;
  word-wrap: break-word;
}


.successMessage {
  color: green;
  text-align: center;
  border: 1px solid green;
  width: 90%;
  height: auto;
  min-height: 40px;
  padding: 10px;
  margin: 5px auto;
  font-size: 13px;
  word-wrap: break-word;
}


.buttonContainer{
  text-align: center;
  margin-bottom: 3%;
  margin-top: 5%;
}

/*Buttons*/
.submit,
.cancel
 {
    border: none !important;
    width: 20%;
    background-color: inherit;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
}

.cancel {
  color: #484848;
  margin-left: 175px;
  font-family: 'Brandon-Light';
}

.submit {
  float: right;
  margin-bottom: 4%;
  margin-right: 8px;
  font-family: 'Brandon-Light';
  margin-top: .01%;
}

.submit:enabled {
  color: #2494d0;
}

.submit:disabled {
  color:#9fc7dc;
}

.submit:hover:enabled,
.submit:active:enabled {
    color: #3c5563;
    cursor: pointer;
}

.cancel:hover,
.cancel:active {
    color: #191717;
    cursor: pointer;
}


.header{
  background-color: #2294d2;
  font-size: 14px;
  height: 50px;
  color: white;
  margin-bottom: 5%;
}

.text{
  top: 30%;
  position: relative;
  left: 5%;
  font-size: 17px;
}


.addButton {
font-size: 15px;
cursor: pointer;
padding-right: 10px;
}

.addButton i {
  padding-right: 5px;
}

.addButton span {
  display: inline;
}


.editButton {
float: right;
display: inline-block;
font-size: 14px;
cursor: pointer;
padding: 10px;
}

.editButton i {
  padding-right: 5px;
}

.editButton span {
  display: inline;
}
