
.two h3{
    font: 110%;
    text-align: center;
    margin-bottom: -10%;
}

.two label {
  margin-top: 15%;
  display: inline-block;
  font-size: small;
  padding: 0 0 1% 1%;
  font-weight: 500 !important;
}

.two textarea {
  height: 100px;
  resize: none;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  /*border: 1px solid #4968a7;*/
  font-family: 'Lato';
  font-weight: 300;
}

.two textarea:focus {
  box-shadow: 0 0 5px #4978a7;
  border: 1px solid #4978a7;
}


.errorMessage {
    color: red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
    width: 100%;
    font-size: 50%;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
    color: #FF9696;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #FF9696;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
}


.successMessage {
    color: green;
    margin: 5px 0;
    text-align: center;
    border: 1px solid green;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
    font-size: 50%
}


.buttonContainer{
  text-align: center;
  padding-top: 10px;
}

/*Buttons*/
.submit
 {
    /*padding: 10px 30px;*/
    border: 1px solid #3679f8;
    width: 100%;
    background-color: #26344e;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    border-radius: 3px;
    height: 30px;
    /*margin-top:15px;*/
}
.submit:hover,
.submit:active {
    background-color: #576d96;
    border: 1px solid #576d96;
    cursor: pointer;
}


.addButton {
float: right;
display: inline;
margin-top: 1.5%;
margin-right: 2%;
font-size: 70%;
cursor: pointer;
}

.addButton i {
  padding-right: 5px;
}

.addButton span {
  display: inline;
}


.editButton {
float: right;
display: inline;
margin-top: 1%;
margin-right: 4%;
font-size: 70%;
cursor: pointer;
}

.editButton i {
  padding-right: 5px;
}

.editButton span {
  display: inline;
}
