.mainContainer {
  width: 702px;
  margin: 4% auto;
  height: 426px;
}

.topContainer {
  background-color: #fff;
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.bottomContainer {
   height: auto;
   background-color: #fff;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   /*box-shadow: 0 10px 10px -2px #232323;
   -moz-box-shadow: 0 4px 4px -2px #232323;
   -webkit-box-shadow: 0 5px 10px 2px #C4C4C4;*/
}


.createButton {
  width: 332px;
margin: 2% 10% 2% 26%;
/* margin: 3% auto; */
padding: 10px 0;
border: 1px solid;
display: inline-block;
text-align: center;
background-color: #2294d2;
color: #fff;
padding: 20px 0;
font-weight: 600;
border-radius: 5px;
font-size: 100%;
letter-spacing: 0.5;
transition: background-color 0.2s, color 0.2s;
cursor: pointer;
font-family: 'Lato';
font-weight: 300;
}

.createButton:hover {
  background-color: #112473;
  color: #f2f2f2;
}

.logo {
   width: 35%;
}
.logoSection {
  position: relative;
  padding: 2% 5% 4% 5%;
  text-align: center;
  font-size: 60%;
  color: #999999;

}

.logoSection span {
  padding-right: 10px;
  line-height: 1.5;
}

.topSection, .midSection, .bottomSection {
  padding: 0;
  text-align: center;
  font-family: 'Lato';
  display: inline-block;
  width: 100%;
}


.topSection {
  color: #737373;
    font-weight: 300;
    letter-spacing: 1.5;
    font-size: 130%;
    margin-top: 8%;
}

.midSection {
  color: #737373;
font-weight: 300;
letter-spacing: 0.5;
margin-top: 3%;
font-size: 130%;
}

.midSection hr {
  }

.bottomSection {
  color: #2294d2;
  font-weight: 300;
  margin-top: 7%;
  font-size: 240%;

}

.span1{
  font-family: 'Arial' ;
  color: #fff !important;
  font-size: 30px;
}

.span2 {
  font-family: 'Times';
  color: #0CB9F2;
  font-size: 30px;
  font-weight: 600;
}

/*modal styling section starts from below*/
.two h3{
    text-align: center;
    margin-bottom: -10%;
    padding: 5px;
}

.inputBox div input[type=text] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #4968a7;
    background-color: inherit;
    font-size: 11px;
    color: black !important;
    height: 30px;
    width: 100%;
}

.inputBox label {
    font-size: 60%;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}

.inputLabel {
    margin-left: 25% !important;
}

.formContainer {
    margin-left: 19%;
    margin-top: 15%;
    margin-right: auto;
    width: 62%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
    color: red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
    width: 100%;
    font-size: 50%;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
    color: #FF9696;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #FF9696;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
}


.successMessage {
    color: green;
    margin: 5px 0;
    text-align: center;
    border: 1px solid green;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
    font-size: 50%
}


/*Buttons*/
.submit
 {
    /*padding: 10px 30px;*/
    border: 1px solid #3679f8;
    width: 157px;
    background-color: #26344e;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    /*margin-top:15px;*/
}
.submit:hover,
.submit:active {
    background-color: #576d96;
    border: 1px solid #576d96;
    cursor: pointer;
}

.closeSpan {
  float: right;
  margin-top: -3%;
  margin-right: -3%;
  cursor: pointer;
}

.closeSpan {
  float: right;
  margin-top: -5.5%;
  margin-right: -2.5%;
  cursor: pointer;
}
