.mainContainer {
  width: 702px;
  margin: 4% auto;
  height: 426px;
}

.topContainer {
  background-color: #fff;
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.bottomContainer {
   height: auto;
   background-color: #fff;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   /*box-shadow: 0 10px 10px -2px #232323;
   -moz-box-shadow: 0 4px 4px -2px #232323;
   -webkit-box-shadow: 0 5px 10px 2px #C4C4C4;*/
}


.createButton {
  width: 332px;
margin: 2% 10% 2% 26%;
/* margin: 3% auto; */
padding: 10px 0;
border: 1px solid;
display: inline-block;
text-align: center;
background-color: #2494d0;
color: #fff;
padding: 20px 0;
font-weight: 600;
border-radius: 5px;
font-size: 100%;
letter-spacing: 0.5;
transition: background-color 0.2s, color 0.2s;
cursor: pointer;
font-family: 'Brandon';
font-weight: 300;
}

.createButton:hover {
  background-color: #112473;
  color: #f2f2f2;
}

.logo {
   width: 35%;
}
.logoSection {
  position: relative;
  padding: 2% 5% 4% 5%;
  text-align: center;
  font-size: 60%;
  color: #999999;

}

.logoSection span {
  padding-right: 10px;
  line-height: 1.5;
}

.topSection, .midSection, .bottomSection {
  padding: 0;
  text-align: center;
  font-family: 'Brandon';
  display: inline-block;
  width: 100%;
}


.topSection {
  color: #484848;
    font-weight: 300;
    letter-spacing: 1.5;
    font-size: 130%;
    margin-top: 8%;
}

.midSection {
  color: #484848;
font-weight: 300;
letter-spacing: 0.5;
margin-top: 3%;
font-size: 130%;
}

.midSection hr {
  }

.bottomSection {
  color: #2494d0;
  font-weight: 300;
  margin-top: 7%;
  font-size: 240%;

}

.span1{
  font-family: 'Arial' ;
  color: #fff !important;
  font-size: 30px;
}

.span2 {
  font-family: 'Times';
  color: #0CB9F2;
  font-size: 30px;
  font-weight: 600;
}

/*modal styling section starts from below*/
.two h3{
    text-align: center;
    margin-bottom: -10%;
    padding: 5px;
}

.inputBox div input[type=text] {
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #cccccc;
    background-color: inherit;
    font-size: 11px;
    color: #ababab !important;
    height: 30px;
    width: 100%;
}

.inputBox label {
    font-size: 60%;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}

.inputLabel {
    margin-left: 25% !important;
}

.formContainer {
  margin-left: 5%;
  margin-right: auto;
  width: 90%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}


.successMessage {
  color: green;
  text-align: center;
  border: 1px solid green;
  width: 90%;
  border-radius: 0px;
  font-size: 12px;
  margin: 5px auto;
  height: auto;
  min-height: 40px;
  padding: 10px;
}

/*Buttons*/
.submit,
.cancel
 {
    border: none !important;
    width: 20%;
    background-color: inherit;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
}

.cancel {
  color: #484848;
  margin-left: 175px;
  font-family: 'Brandon';
}

.submit {
  color: #2494d0;
  float: right;
  margin-bottom: 4%;
  margin-right: 8px;
  font-family: 'Brandon';
  margin-top: .01%;
  padding-bottom: 4%;
}
.submit:hover,
.submit:active {
    color: #3c5563;
    cursor: pointer;
}

.cancel:hover,
.cancel:active {
    color: #191717;
    cursor: pointer;
}

.closeSpan {
  float: right;
  margin-top: 5%;
  margin-right: 3%;
  cursor: pointer;
}

.header{
  background-color: #2294d2;
  font-size: 14px;
  height: 50px;
  color: white;
  margin-bottom: 5%;
}

.text{
  top: 30%;
  position: relative;
  left: 5%;
  font-family: 'Brandon';
  font-size: 17px;
}

.buttons {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;

}
