.dbStatsBody {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    /*height: calc(100vh - 130px);*/
    height: calc(100vh - 156px);
    overflow: auto;
    font-family: 'Brandon-Light';
}

.listContainer {
  width: 30%;
  display: inline-block;
  padding: 20px;
}

.listContainer, .dbStats{
    float: left;
}

.dbStatsBody table {
    border-collapse: collapse;
    border: 1px solid #bababa;
    text-align: center;
    line-height: 25px;
    margin: 60px;
    width: 40%;
}

.dbStatsBody table tbody {
  background: #ecf4f7;
}

.dbStatsBody table td, .dbStatsBody table th {
  border: 1px solid #bababa;
}
.dbStatsBody table tr:first-child th {
  border-top: 0;
}
.dbStatsBody table tr:last-child td {
  border-bottom: 0;
}
.dbStatsBody table tr td:first-child,
.dbStatsBody table tr th:first-child {
  border-left: 0;
}
.dbStatsBody table tr td:last-child,
.dbStatsBody table tr th:last-child {
  border-right: 0;
}

.dbStatsBody table tr th, .dbStatsBody table tr td {
    padding: 5px 50px;
    text-transform: capitalize;
}

.dbStats {
    float: left;
    margin-left: 20%;
    margin-top: 5%;;
}

.dbStatsHeader {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.dbList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dbList li {
  font-family: 'Brandon-Light';
  font-size: 90%;
  padding-bottom: 5px;
}

.dbList li:last-child {
  border: none;
}

.dbList li  {
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 3%;
  border-radius: 10px;
  cursor: pointer;
  background-color: none !important;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.dbList li:hover {
  font-size: 130%;
  background: #e6ecef;
}
.dbIcon {
  font-size: 80%;
  padding-right: 5px;
}
