.formGroup.error input[type='text'],
.formGroup.error input[type='email'],
.formGroup.error input[type='number'],
.formGroup.error input[type='password'],
.formGroup.error select {
    border-color: #FF9696;
    color: #FF9696;
}

.validationError {
    color: red;
    margin: 5px 0;
    display: inline-block;
    font-size: 50%;
}