.mainContainer {
    background-color: #fff;
    display: inline-block;
    overflow: auto;
    /*height: calc(100vh - 60px);*/
    height: calc(100vh - 95px);
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    top: -1;
    border-top : 1px solid;
    border-color: #bababa;
}

.collapsedContainer{

}

.mainContainer>button {
  float: none !important;
  background: #ecf4f7 !important;
  width: 100%;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #bababa;
  height: 59px;
}

.collapseSpan {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    font-size: 15px;
    font-family: 'Brandon';
}

.breadCrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 70%;
}
.breadCrumb li {
    display: inline;
}

.breadCrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadCrumb li a {
  color: green;
  text-decoration: none;
}

.navBar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background: #fff;
}

.navContainer {
  padding: 0;
}

.tabs {
  width: 100%;
  background: #CCD9DE;
  z-index: 99999;
  list-style-type: none;
  float: left;
  border-bottom: solid 1px #bababa;
  background: #ecf4f7;
  margin: 0;
}

.tabs li {
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  font-family: 'Brandon';
  cursor: pointer;
  padding-bottom: 13px;
  padding-top: 15px;
  font-size: 17px;
}



.tabs li span {
  display: inline-block;
  width: 100%;
}

.activeTab {
   border-bottom: solid 6px #2494d0;
   font-weight: 600;
   color: #2494d0;
   cursor: pointer;
}

.errorHolder {
  text-align: center;
    font-size: 17px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    color: red;
}

.loading {
  text-align: center;
}

.loading label {
  display: block;
  font-size: 17px;
  font-family: 'Brandon-Light';
}

.toggleButton {
  background: blue;
}