.mainContainer {
    background-color: #CCD9DE;
    display: inline-block;
    position: absolute;
    w: 100%;
    overflow: hidden;
    width: calc(100% - 70px);
    height: 100%;
    overflow: auto;
}

.breadCrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 70%;
}
.breadCrumb li {
    display: inline;
}

.breadCrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadCrumb li a {
  color: green;
  text-decoration: none;
}

.tabs {
  font-size: 70% !important;
}
