@font-face {

font-family: Brandon;
src: url("../fonts/Brandon_reg.otf") format("opentype");
}

@font-face {
font-family: Brandon-Light;
src: url("../fonts/Brandon_light.otf") format("opentype");
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Brandon-Light';
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main-nav{
 
}


.side-nav {
  padding-left: 45px !important;
  font-family: 'Brandon';
}

#sidebar>li>a {
  font-size: 17px;
}

/*Main Container*/
.mainContainer {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

/*Main Navigyation*/
.mainNav {
    list-style: none;
    background: #2494d0;
    align-items: center;
    margin-left: auto;
    font-size: 27px;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 25px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px; 
}

.navbar-header {
  padding-left: 20px;
}

.mainNav li {
    display: inline-block;
    font-size: 15px;
}

.mainNav li a:link,
.mainNav li a:visited {
    padding: 10px;
    color : #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
    font-weight: 500;
    width: 100%;
}

.seperator {
  width: 1px;
  height: 47%;
  border: solid 1px #6f7576;
}

.mainNav li a:hover {
    color: #6f7576;
}


.mainNav li span {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
}

.mainNav li span i {
  font-size: 34px;
}

.page-holder {
  margin-top: 20px;
  border-style: none none none dashed;
  border-color: #97979a;
  border-width: 1px;
}

.page-holder iframe {
  width: 100%;
}




/*Logo*/
.logo{
    height: auto;
    width: auto;
    float: left;
    text-decoration: none;
}

.logo img {
}

.span1{
  font-family: 'Brandon-Light' ;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.span2 {
  font-family: 'Brandon-Light';
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.span3 {
  font-family: 'Helvetica';
  color: #D7DEE0;
  font-weight: 600;
}


.icon {
  padding-right: 10%;
  display: inline-block;
}


/*-------Clear Floats-------*/
.clearfix { zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Header*/
header {
    background: #2494d0;
    font-family: 'Brandon';
}

.banner {
    background: #61b2f7 !important;
    padding: 1% 2%;
}

.disconnect {
}

.disconnect::before {
}

.details {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  font-family: 'Brandon-Light';
  text-align: center;
}



/*Styling for side nav*/

.fixed {
    
}

/* sidebar */
.bs-docs-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #2494d0;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #2494d0; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}



/*Footer Styling*/

#footer {
  background: #484848;
  font-family: 'Brandon';
  padding-top: 25px;
}

.footer-top-section {
  padding-bottom: 25px;
  border-bottom: 1px solid #fcfcfc;
}


.fourth-column {
  /*padding-left: 6% !important;*/
  border-left: 1px solid #fcfcfc;
}

.fourth-column a {
  display: inline-block !important;
  border-radius:50%;
  text-align:center;
  width: 20px;
  height: 20px;
}


.social-icons > a {
  background: #fcfcfc;
}

.fourth-column label {
  color: #fcfcfc;
}


.icoFacebook {
  color: #3b5998 !important;
  margin-top: -3px !important;
}

.icoTwitter {
  color: #00aced !important;
  margin-top: -3px !important;
}

.icoGoogle{
  color: #dd4b39 !important;
  margin-top: -3px !important;
}



.foot-links a{
  display: inherit;
  color: #fcfcfc;
  padding: 6px;
  font-size: 15px

}

.foot-header {
  color: #fcfcfc;
  font-family: 'Brandon';
  font-weight: 600;
  font-size: 17px;
}

#final-footer>div {
  color: #fcfcfc;
  font-family: 'Brandon';
  font-size: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
}



.sticky {
    position: fixed;
    top:0;
}




/*Media Queries*/

@media (max-width: 768px){
.mainNav {
    padding-right: 0;
}

.fourth-column {
  padding-left: 15px !important;
  border-left: none;
}
}