@font-face {
font-family: Brandon;
src: url("../fonts/Brandon_reg.otf") format("opentype");
}

@font-face {
font-family: Brandon-Light;
src: url("../fonts/Brandon_light.otf") format("opentype");
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Brandon-Light';
  /*overflow: hidden;*/
}

.main-nav{
  display: flex;
  align-items: center;
}


.side-nav {
  /*overflow: auto;
  */height: calc(100vh - 60px);
}

/*Main Container*/
.mainContainer {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

/*Main Navigyation*/
.mainNav {
    list-style: none;
    background: #2494d0;
    height: 60px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 27px;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 5%;
}

.mainNav li {
    display: inline-block;
    font-size: 15px;
}

.mainNav li a:link,
.mainNav li a:visited {
    padding: 0 0 0 5px;
    color : #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
    font-weight: 500;
    width: 100%;
}

/*.mainNav li:last-child::before {
  content: '|';
  border: 0;
  padding: 0;
  font-size: 34px;
}*/

.seperator {
  width: 1px;
  height: 47%;
  border: solid 1px #6f7576;
}

.mainNav li a:hover {
    color: #6f7576;
}


.mainNav li span {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
}

.mainNav li span i {
  font-size: 34px;
}


/*Logo*/
.logo{
    height: auto;
    width: auto;
    float: left;
    text-decoration: none;
    padding-left: 5%;
}

.logo img {
  /*width: 55%;
  height: auto;*/
}

.span1{
  font-family: 'Brandon-Light' ;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.span2 {
  font-family: 'Brandon-Light';
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.span3 {
  font-family: 'Helvetica';
  color: #D7DEE0;
  font-weight: 600;
}0 0 0 15px


.icon {
  padding-right: 10%;
  display: inline-block;
}


/*-------Clear Floats-------*/
.clearfix { zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Header*/
header {
    background: #2494d0;
    font-family: 'Brandon';
}

.banner {
    background: #61b2f7 !important;
    padding: 1% 2%;
}

.disconnect {
}

.disconnect::before {
}

.details {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  font-family: 'Brandon-Light';
  text-align: center;
}



/*Styling for side nav*/

.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

.bs-docs-sidebar .nav>.active>a { 
    color: #563d7c;
}