.modalContainer span {
  cursor: pointer;
}

.two h3{
    font: 110%;
    text-align: center;
    margin-bottom: -10%;
}

.inputBox div input[type=text] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #4968a7;
    background-color: inherit;
    font-size: 11px;
    color: black !important;
    height: 30px;
    width: 100%;
}

.inputBox label {
    font-size: 60%;
    color: black;
}

.inputBox div input[type=checkbox] {
    display: inline;
}

.TextInput error input[type=text] {
    border-color: #8c4141;
    width: 166px;
}

.validationError {
    border-color: #8c4141;
    width: 166px;
}

.inputBox {
    margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}

.inputLabel {
    margin-left: 25% !important;
}

.formContainer {
    margin-left: 19%;
    margin-top: 15%;
    margin-right: auto;
    width: 62%;
}

.help {
    margin-top: 8px;
    width: 100%;
}

.errorMessage {
    color: red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
    width: 100%;
    font-size: 50%;
}

.errorMessage.hidden {
    display: none;
}

.errorMessage.show {
    color: red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #FF9696;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
    width: 100%;
}


.successMessage {
    color: green;
    margin: 5px 0;
    text-align: center;
    border: 1px solid green;
    width: 100%;
    border-radius: 3px;
    line-height: 3;
    font-size: 50%
}


/*Buttons*/
.submit
 {
    /*padding: 10px 30px;*/
    border: 1px solid #3679f8;
    width: 157px;
    background-color: #26344e;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    /*margin-top:15px;*/
}
.submit:hover,
.submit:active {
    background-color: #576d96;
    border: 1px solid #576d96;
    cursor: pointer;
}


.updateButton {
float: right;
display: inline;
margin-top: 1.5%;
margin-right: 2%;
font-size: 70%;
cursor: pointer;
}

.updateButton i {
  padding-right: 5px;
}

.updateButton span {
  display: inline;
}

.closeSpan {
  float: right;
  margin-top: -3%;
  margin-right: -3%;
  cursor: pointer;
}