/*----------------------------------------*/
/*BASIC SETUP*/
/*----------------------------------------*/

@font-face {
font-family: Brandon;
src: url("../../assets/fonts/Brandon_reg.otf") format("opentype");
}

@font-face {
font-family: Brandon;
font-weight: lighter;
src: url("../../assets/fonts/Brandon_light.otf") format("opentype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #e7e8ea;
    color: #555;
    font-family: 'Brandon', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
    overflow-x: auto;
    /*overflow-y: hidden;*/

}

body {
  overflow: auto;
}
/*Login Form*/
div.parentDiv {
  display: inline-block;
  width: 341px;
  height: 508px;
      /*margin-left: 20%;*/
}
.one{
  display: inline-block;
  width:inherit;;
  height:114px;
  background:#2294d2;
  padding: 57px 20px 20px 38px;;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  /*float: left;*/
}

.two{
  display: inline-block;
    width: 341px;
    height: 508px;
    background: #fff;
    float: left;
    border-radius: 3px;
}
.logoSection {
  display: inline-block;
    padding: 80px 0;
    margin-top: 70px;
    margin-left: 55px;
}

.mSpan {
    font-size: 30px;
    font-family: Arial;
    color: white
}
.vSpan{
    font-size: 30px;
    font-weight: 600;
    font-family: Times;
    color: #6c6c9e;
}
.loginForm {
    width: 341px;
    margin: 0 auto;
}
.two .inputBoxLogin input[type=text],
 .two .inputBoxLogin input[type=password]{
    padding: 10px;
    border-radius: 0px;
    border: 1.5px solid #bababa;
    background-color: inherit;
    color: #737373;
    font-size: 11px;
    height: 47px;
    width: 260px;
    margin-top: 4px;
    border-radius: 1px;
}
.TextInput error input[type=text]{
    border-color: #8c4141;
    width: 166px;
}

.validationError{
    border-color: #8c4141;
    width: 166px;
}

.inputBoxLogin {
 margin-bottom: 7px;
}

.innerForm {
    padding: 5%;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #ffffff
}
.inputLabel {
    margin-left: 25% !important;
}
.formContainer {
    margin-left: 12%;
    margin-top: 8%;
}
*:focus {
    outline: none;
}
/*sections*/

section {
    padding: 80px 0;
}
/*Headings*/

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-left: -5%;
}
h2:after {
    display: block;
    height: 2px;
    color: #3679f8;
    content: "\2014 DB List \2014";
    font-size: 10px;
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 700;
}
/*Buttons*/
.two input[type=submit] {
    padding: 10px 30px;
    /*border: 1px solid #3679f8;*/
    width: 260px;
    height: 47px;
    background-color: #2294d2;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    border-radius: 1px;
    margin-top:4px;
    border: 0;
}
.two input[type=submit]:hover,
.two input[type=submit]:active {
    background-color: #576d96;
    /*border: 1px solid #576d96;*/
    cursor: pointer;
}
.help {
    margin-top: 8px;
    width:100%;
}
.footerLink {
    margin-top: 15px;
    font-size: 12px;
}
.errorMessage {
    color: red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
    width: 66%;
}
.errorMessage.hidden {
    display: none;
}
.errorMessage.show {
    color: #red;
    margin: 5px 0;
    text-align: center;
    border: 1px solid red;
    width: 67%;
    border-radius: 3px;
    font-size: 70%;
    padding: 1%;
}

/*-------Clear Floats-------*/
.clearfix { zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
