.menu>div {
    display:block;
    z-index:2;
    top:0;
    width:15%;
    position: absolute;
    height:100%;
    transition: transform ease 0.3s;
    color: #ccc;
    background:#0e1d5d;
    margin-top: 55px;
    border-left: solid 1px #555;
    position: fixed;
    margin-top: 10.2%;
    /*margin-top: 5.9%;*/
    margin-left:1%;
    overflow: auto;
}


.visible {
    transform:translate3d(320px, 0, 0);
    overflow-y: auto;
}

.visible div:last-child {
  margin-bottom: 25%;
}

.left {
    background:#0e1d5d;
    transform:translate3d(-500px,0,0);
    position: relative;;
}


.menuItem {
    width:100%;
    margin:0;
    padding:10px 15px;
    border-bottom:solid 1px #555;
    cursor:pointer;
    color:#B0B0B0;
    transition: background-color 0.2s;
    font-size: 70%;
}

.menuItem:hover,
.menuItem button:hover {
     background-color:#070F30;
}

.highlight {
    background-color:#070F30;
}


.menuItem button {
  background-color: inherit;
  color: #fff;
  border: 0;
  font-family: 'Lato';
  padding: 10px;
  cursor: pointer;
  width: 70%;
  text-align: left;
  font-size: 70%;
}

.menuItem i {
  /*padding: 10px;*/
}

.menuTitle {
    text-align: center;
    padding: 5px;
    background-color: #fff;
    color: #0CB9F2;
    font-family: 'Lato';
    font-size: 70%;
}

.removeIcon {
  color: #85adad;
  /*display: block;*/
  text-align: center;
  font-size: 70%;
  margin-top: -20%;
  margin-left: 90%;
}

.searchInput input {
    outline: none;
    padding: 5px 5px 5px 20px;
    border: 6px solid #ccc;
    width: 100%;
}

.searchInput::before {
  content: "\26b2";
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  transform: rotate(-45deg);
  font-size: 20px;
  top: 12%;
  left: 3%;
  line-height: 32px;

}

.searchInput {
  position: relative;
}

.highlight {
    background-color:#070F30;
}

.searchInput {
    background-color:#070F30;
}
